media/*
ml_from_scratch.egg-info/*
*.csv
*.pyc
src/unsupervised/kmeans/media/Tex
src/unsupervised/kmeans/media/videos
src/unsupervised/kmeans/media/images
*.csv
*.pyc
# /kmeans copy/*
# ml_from_scratch/unsupervised/kmeans copy/__init__.py
ml_from_scratch/unsupervised/kmeans copy/*.py
